*{
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-bottom: 19px;
  padding-top: 15px;
  background-color: rgb(34, 36, 40);
}
  
#navbar_links{
  display: flex;
  padding-left: 200px;
  justify-content: space-between;
}

.lnk{
  display: flex;
  padding-top: 15px;
  padding-left: 82px;
  font-size: xx-large;
  color: #ffffff;
  font-size: large;
  text-decoration: none;
}

#logo{
  display: flex;
  justify-content: flex-start;
  width: 120px;
  height: 40px;
  margin-left: 70px;
  padding-top: 5px;
}

h1{
  width: 350px;
  padding: 0px;
  margin: 0px;
  font-size: 80px;
  color: #ffffff;
}

.btxt{
  color: #ffffff;
  font-size: 20px;
  height: 100px;
  width: 560px;
  margin-top: 14px;
  font-weight: lighter;
}

h2{
  margin: 0px;
  padding-top: 25px;
  font-size: 45px;
  width: 140px;
  color: rgb(104, 142, 211);
}

#img1{
  padding-left: 50px;
  height: 600px;
}

.img{
  display: flex;
}

.main{
  background-color: rgb(34, 36, 40);
  display: flex;
}

.text{
  padding-left: 220px;
}

.more{
  color: #ffffff;
  background-color: rgb(60, 89, 236);
  height: 55px;
  width: 150px;
  border: 0px;
  border-radius: 10px;
}

.s{
  font-size: 20px;
}

/* .sign{
  background-color: #ffffff;
  height: 42px;
  width: 68px;
  font-size: 15px;
  border-radius: 9px;
  margin-bottom: 15px;
  border: 0px;
} */

#con{
  color: #ffffff;
  background-color: rgb(60, 89, 236);
  height: 55px;
  width: 150px;
  border: 0px;
  font-size: 16px;
  border-radius: 10px;
  bottom: 5px;
  right: 15px;
}

h3{
  display: flex;
  justify-content: center;
  border: 0px;
  padding: 0px;
}

.child{
  height: 400px;
  background-color: rgb(244, 251, 253);
}

.child-text{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-size: 34px;
  color: black;
}

.img-box{
  margin-top: 60px;
  height: 800px; 
  text-align: center;
}

#img2{
  width: 1050px;
  height: 200px;
}

.child2{
  height: 920px;
  background-image: url("https://juspay.in/static/bg_circular_dotted_white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.child2-text p{
  color: rgb(8, 36, 73);
  font-size: 4rem;
  margin-top: 160px;
  width: 640px;
  padding-left: 150px;
  margin-bottom: 250px;
}

.container{
  display: flex;
  justify-content:center;
  width: fit-content;
  margin-left: 30px;
}

.logos{
  padding: 0%;
  margin: 0%;
  height: 75px;
  width: 75px;
}

.l{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
}

.first{
  color: rgb(39, 59, 160);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: lighter;
}

#bt{
  font-size: 50px;
  padding-top: 0px;
  margin: 0px;
}

.second{
  font-size: 16px;
  color: rgb(39, 59, 160);
  display: flex;
  justify-content: center;
  padding: 2px;
  margin: 2px;
}

.third{
  color: black;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

/* Content-4 Css */
.child3{
  background-color: rgb(34, 36, 40);
  height: 1250px;
}
.heading{
  font-size: 66px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 100px;
  padding-left: 170px;
  padding-right: 375px;
  margin-bottom: 55px;
}
.con-c{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.con-c1{
  width: 550px;
  height: 221px;
}
.con-c1 img{
  width: 550px;
  height: 221px;
  padding: 30px;
}
.con-c2{
  width: 550px;
  height: 221px;
  padding: 30px;
}

.p1{
  color: grey;
}

.p2{
  color: rgb(104, 142, 211);
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.p3{
  color: #ffffff;
}

#C{
  margin-left: 115px;
}

footer{
  display: flex;
  justify-content: center;
  background-color: rgb(244, 251, 253);
  overflow: hidden;
}

.last1{
  height: 52px;
  width: 70px;
  padding: 2px;
}

.last2{
  height: 55px;
  width: 55px;
  padding: 2px;
}

.last3{
  height: 65px;
  width: 60px;
  padding: 2px;
}

.col{
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 310px;
}

.fit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
}

p{
  color: black;
  font-weight: bold;
}

li{
  list-style: none;
  font-size: 18px;
  padding-top: 10px;
}

#col1{
  margin-bottom: 63px;
}

#col3{
  margin-bottom: 125px;
}

#col4{
  margin-bottom: 65px;
}

.hi{
  padding: 7px;
}